
.boton {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #000000; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    color: aquamarine;
  }
  
  
  .boton:hover {
    background-color: #ffffff; 
  }
  